<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.zpi.mapper.ProjectMapper">

    <select id="listAll" resultMap="BaseProjectResultMap">
        SELECT p.project_id, p.title, p.technology, p.acronym, p.description, p.language, p.status, p.is_archived, p.year FROM project p
        <where>
            <if test="title != null and title != ''">
                AND p.title ILIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="year != null">
                AND p.year = #{year}
            </if>
            <if test="language != null">
                AND p.language = #{language}
            </if>
        </where>
    </select>

    <!-- Retrieve Basic Project Info -->
    <select id="getProjectByID" resultMap="BaseProjectResultMap">
        SELECT p.project_id, p.title, p.technology, p.acronym, p.description, p.language, p.status, p.is_archived, p.year FROM project p
        <where>
            <if test="projectId != null and projectId != ''">
                AND p.project_id = #{projectId}
            </if>
        </where>
    </select>




    <!--Retrieve Elements and Their Types -->
    <select id="getProjectElements" resultMap="ElementResultMap">
        SELECT e.element_id, e.file_path, e.description, et.name AS element_type_name
        FROM element e
                 JOIN element_type et ON e.element_type_id = et.element_type_id
        WHERE e.project_id = #{projectId}
    </select>

    <!-- Retrieve Project Members -->
    <select id="getProjectMembers" resultMap="MemberResultMap">
        SELECT u.user_id, u.first_name, u.last_name, u.email, r.role_name
        FROM project_members pm
                 JOIN users u ON pm.user_id = u.user_id
                 JOIN role r ON pm.role_id = r.role_id
        WHERE pm.project_id = #{projectId}
    </select>


    <resultMap id="BaseProjectResultMap" type="com.backend.zpi.entity.Project">
        <id property="projectId" column="project_id"/>
        <result property="title" column="title"/>
        <result property="acronym" column="acronym"/>
        <result property="description" column="description"/>
        <result property="language" column="language"/>
        <result property="status" column="status"/>
        <result property="isArchived" column="is_archived"/>
        <result property="year" column="year"/>
        <result property="technology" column="technology"/>
    </resultMap>


    <resultMap id="ProjectResultMap" type="com.backend.zpi.entity.Project">
        <id property="projectId" column="project_id"/>
        <result property="title" column="title"/>
        <result property="acronym" column="acronym"/>
        <result property="description" column="description"/>
        <result property="language" column="language"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="isArchived" column="is_archived"/>
        <result property="year" column="year"/>
        <result property="technology" column="technology"/>

        <collection property="users" ofType="com.backend.zpi.entity.Users">
            <id property="userId" column="user_id"/>
            <result property="email" column="email"/>
            <result property="firstName" column="first_name"/>
            <result property="lastName" column="last_name"/>
            <association property="role" javaType="com.backend.zpi.entity.Role">
                <result property="roleName" column="role_name"/>
            </association>
        </collection>

        <collection property="elements" ofType="com.backend.zpi.entity.Element">
            <id property="elementId" column="element_id"/>
            <result property="filePath" column="file_path"/>
            <result property="description" column="element_description"/>
        </collection>
    </resultMap>


    <resultMap id="ElementResultMap" type="com.backend.zpi.entity.Element">
        <!-- Mapping the primary fields from the element table -->
        <id property="elementId" column="element_id"/>
        <result property="elementTypeId" column="element_type_id"/>
        <result property="projectId" column="project_id"/>
        <result property="filePath" column="file_path"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>


    <resultMap id="MemberResultMap" type="com.backend.zpi.entity.Users">
        <!-- Mapping fields from the users table -->
        <id property="userId" column="user_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>

        <!-- Association with Role (one-to-one relationship) -->
        <association property="role" javaType="com.backend.zpi.entity.Role">
            <result property="roleName" column="role_name"/>
        </association>
    </resultMap>






</mapper>
